
body {
    font-family: 'Poppins', serif;
    background-image: url('images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

.card{
    display: flex;
    width: 450px;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 50px 50px 0px 0px;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery > img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
    flex-basis: 100%;
    flex: 1;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        
    }

    .nav_links {
        flex-direction: row;
    }
    .card {
        flex-basis: 275px;
        justify-content: space-evenly;
    }

    .pricing {
        flex-direction: row;
    }

    body > header {
        position: sticky;
        top: 0;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background: none;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-between;
    }

    .pricing {
        justify-content: space-evenly;
    }

    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }
    #gallery{
        display: none;
    }
    .gallery {
        display: none;
    }

    .pricing > li {
        content: '\1F44D';
    }
}